@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --font-xs: 0.75rem;
    --font-sm: 0.875rem;
    --font-base: 1rem;
    --font-lg: 1.125rem;
    --font-xl: 1.25rem;
    --font-2xl: 1.5rem;
    --font-3xl: 1.875rem;
    --font-4xl: 2.25rem;
    --font-5xl: 3rem;
    --font-6xl: 3.75rem;
    --font-7xl: 4.5rem;
    --font-8xl: 6rem;
    --font-9xl: 8rem; */

    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-text: #1e1e2a;
    --primary-text-alt: #1E1E1E;
    --primary-background: #5266EB;
    --primary-foreground: 210 40% 98%;
    --primary-background-light: #FAFBFD;
    --secondary: 210 40% 96.1%;
    --secondary-text: #73737f;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --label-text: #535460;
    --input-border: #dcdce4;

    --muted: 210 40% 96.1%;
    --muted-text: #9d9da7;
    --muted-background: #F7F7F8;
    --muted-foreground: 215.4 16.3% 46.9%;
    --muted-border: #F1F1F4;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    /* --ring: 222.2 84% 4.9%; */
    --ring: 210 40% 96.1%;
    --radius: 0.5rem;
    --placeholder: #e9edf6;
    --destructive-text: #DA2444;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
.text-destructive {
  color: var(--destructive-text);
}
.background-text-destructive {
  background-color: var(--destructive-text) !important;
}
.text-primary {
  color: var(--primary-text);
}
.text-primary-alt {
  color: var(--primary-text-alt);
}
.background-text-primary {
  background-color: var(--primary-text);
}
.background-primary {
  background: var(--primary-background);
}
.text-background-primary {
  color: var(--primary-background);
}
.text-secondary {
  color: var(--secondary-text);
}
.text-label {
  color: var(--label-text);
}
.border-input {
  border-color: var(--input-border);
}
.border-muted{
  border-color: var(--muted-border);
}
.text-muted {
  color: var(--muted-text);
}
.background-placeholder {
  background-color: var(--placeholder);
}
.border-muted-text{
  border-color: var(--muted-text);
}
.background-muted {
  background-color: var(--muted-background);
}
.text-background-muted {
  color: var(--muted-background);
}
input::placeholder {
  color: var(--muted-text);
}
.background-light{
  background-color: var(--primary-background-light);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d9d9d9;
}
.bg-custom-gradient{
  background: linear-gradient(90deg, rgba(82, 102, 235, 0.2) 0%, #5266EB 320.24%);
}

.custom-grid-template{
  grid-template-columns: 1fr 1fr fit-content(100%) 1fr;
}

.react-tel-input .flag-dropdown {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0.375rem;
  border-left: 1px solid var(--input-border);
  height: 2.4rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0.1rem;
}
.flag-dropdown:hover{
  background-color: #f5f5f5A9 !important;
  border: none !important;
  border-radius: 0.375rem;
  border-left: 1px solid var(--input-border);
  height: 2.45rem;
  margin-top: auto;
  margin-bottom: auto;
}
